{% extends 'base.html' %}

{% block title %}
    {{ page_title |title}}
{% endblock title %}


{% block content %}
  {% if messages %}
      {% for message in messages %}
      <p class="msg msg-{{ message.tags }}">{{ message }}</p>
      {% endfor %}
  </ul>
  {% endif %}
  <div class='container' id='special-container'>
    <div class="word-show">
      <div id="word-control-panel">
        <a href="{{ object.update_url }}"><i class="fas fa-pen" title="Update"></i></a>
        <a href="{{ object.delete_url }}"><i class="fas fa-trash-alt" title="Delete"></i></a>
      </div>
      <h2 class="word_text">{{ object.word_text }} <small class="word_type">{{ object.get_word_type_display }}</small>
      <audio src="{{object.pron_word_link}}" id="audio_src">
      </audio>
      <a id="play_audio" scr="{{object.audio_url}}" href="#" class="word-audio">
        {% if object.audio_url %}
            <i class="fas fa-volume-up ok"></i>
        {% else %}
            <i class="fas fa-volume-up"></i>
        {% endif %}
      </a>
      <i class="far fa-copy" id="copy-word-btn"></i>
      </h2> 
      <a href="{{object.audio_url}}">Audio</a>
      <h3>Definitions</h3>  
      <ol>
      {% for def in object.definitions.all %}
        <li>{{ def.definition_text }} <i class="far fa-copy not-especial"></i></li>
      {% endfor %}
      </ol>
      <h3>Examples</h3>
      <ol>
      {% for exa in object.examples.all %}
        <li>{{ exa.example_text }} <i class="far fa-copy not-especial"></i></li>
      {% endfor %}
      </ol>
    </div>
    {% comment %} <div class="words-grid">
      <div class="search-bar f-v">
        <input type="text" name="search" id="search" placeholder = "Search for words">
      </div>
      {% for word in object_list %}
        <div class="word-grid-box">
          <section class="flex-first-row">
            <a class = "word-value" href= "{{ word.get_absolute_url }}">{{word.word_text}}</a>&nbsp;&nbsp;
            <p class="word-type">{{ word.get_word_type_display }}</p>
          </section>
          <section>
            <a href="#" class="word-audio">
              <i class="fas fa-volume-up"></i>
            </a>
          </section>
        </div>
      {% endfor %}
    </div> {% endcomment %}
  </div>
{% endblock content %}

{% block js %}
{% load static %}
  <script src="{% static 'js/copyText.js' %}"></script>
  <script src="{% static 'js/play_audio.js' %}"></script>
{% endblock js %}